@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-white:#f3f3f3;
    --color-darkblue:#796ec8;
    --color-darkblue-alpha:rgba(13, 138, 187, 0.8);
    --color-green:#21eb6e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;

}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /*background: var(--color-darkblue);*/
    background: linear-gradient(215deg,rgba(100, 100, 100, 0.8),rgba(128, 0, 0, 0.5)),url(../img/mmsu.jpg);
    /*background: linear-gradient(215deg,rgba(50, 67, 97, 0.8),rgba(37, 83, 52, 0.8)),url(../img/mmsu.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}


.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin: 10px auto;
    max-width: 600px;
    background-color: #ffffff;
}

h4 {
    color: #800000;
    font-weight: 600;




}
p{
    color: #800000;





}



.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

#img-section p,
#deactivate p {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
    font-size: 14px
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding-left: 3px
}

.form-control {
    border-radius: 0.25rem;

}
.form-control:hover {

    border: 1px solid #cf1020;
}

input[placeholder] {
    font-weight: 500
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4;
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    height: 40px;
    padding: 5px 10px;
}

select:focus {
    outline: none
}

.button {
    background-color: #fff;
    color: blue;
    font-weight: bold;
}
.btn{
    border: none;
}

.button:hover {
    background-color: #0779e4;
    color: #fff
}

.btn-primary {
    background-color: #fff;
    color: blue;
    border: none;
    font-weight: bold;
    width: 120px;
}
.btn-success{



    width: 120px;
}

.danger {
    font-weight: bold;
    background-color: #fff;
    color: #e20404;
    width: 120px;
}

.btn-danger:hover {
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px;
        margin: 25px 25px;
    }

    #deactivate {
        line-height: 18px
    }
}