@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --color-white: #f3f3f3;

  --color-darkblue: rgba(12, 163, 223, 0.8);
  --color-darkblue-alpha: rgba(12, 163, 223, 0.3);
  --color-green: #21eb6e;
  --color-darkgreen: rgba(29, 202, 95, 0.8);
}
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}
body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #fff;
  /*background: linear-gradient(215deg,rgba(50, 67, 97, 0.8),rgba(37, 83, 52, 0.8)),url(../img/mmsu.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.content{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 10px auto;
  max-width: 600px;

}

.wrappercon {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 10px auto;
  background-color: var(--color-darkblue-alpha);
}

h4 {
  color: #cf1020;
  font-weight: 600;

}

.img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
}

#img-section p,
#deactivate p {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  text-align: justify;
}

#img-section b,
#img-section button,
#deactivate b {
  font-size: 14px
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  padding-left: 3px
}

.form-control {
  border-radius: 0.25rem;

}
.form-control:hover {

  border: 1px solid #cf1020;
}
input[placeholder] {
  font-weight: 500
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4
}

select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  height: 40px;
  padding: 5px 10px
}

select:focus {
  outline: none
}

.button {
  background-color: #fff;
  color: blue;
  font-weight: bold;
}

.button:hover {
  background-color: #0779e4;
  color: #fff
}

.btn-primary {

}

.btn-secondary {


}

.danger {
  font-weight: bold;
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd

}



.danger:hover {
  background-color: #e20404;
  color: #fff
}

.padding {
  padding: 3rem !important
}

body {
  background-color: #f9f9fa
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px
}

.card-block {
  padding: 1.25rem;
  margin-top: -40px
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #505458;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4
}

.text-muted {
  margin-bottom: 0px
}

.user-activity-card .u-img .cover-img {
  width: 60px;
  height: 60px
}

.m-b-25 {
  margin-top: 20px
}

.user-activity-card .u-img .profile-img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  right: -5px
}

.img-radius {
  border-radius: 5px
}

.user-activity-card .u-img {
  position: relative
}

.m-b-5 {
  margin-bottom: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

.text-muted {
  color: #919aa3 !important
}

.card .card-block p {
  line-height: 25px
}

.text-muted {
  color: #919aa3 !important
}

.m-r-10 {
  margin-right: 4px
}

.feather {
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.text-center {
  margin-top: 15px
}

@media(max-width:576px) {
  .wrapper {
    padding: 25px 20px;
    margin: 20px;
  }

  #deactivate {
    line-height: 18px
  }
  .navbar{
  }
  .nav-item{

  }
}

@media(max-width:768px) {
  .wrapper {

  }

  #deactivate {
    line-height: 18px
  }
  .navbar{
  }
  .nav-item{

  }
  .userpic{
    display: none;
  }
}